<div class="header-top">
  <div class="row">
    <div class="col-md-3">
          <p>contacto@itecno.com.co</p>
    </div>
    <div class="col-md-3">
      <fa name="heart" size="1x"></fa>
      <p>Lista de deseos</p>

    </div>
    <div class="col-md-3">
      <fa name="align-left" size="1x"></fa>
      <p>Comparar</p>
    </div>
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <p  id="dropdownBasic1" ngbDropdownToggle>Iniciar sesión</p>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
  </div>
</div>